{% load static %}
<!DOCTYPE html>
<html lang="en" class="fa-events-icons-ready">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <title>Kiady LoyOlan / Resume / Skill Reactor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Kiady LoyOlan/Resume/Skill Reactor">
    <meta name="keywords" content="skill, resume, personal, card, cv, portfolio">
    <link rel="icon" href="{% static './assets/images/svg/cloud-done-outline.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static './assets/css/basic.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/layout.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/gradient.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/new-skin.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/demo-2-colors.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/dark.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/style.css' %}">
</head>

<body>
    <div class="page new-skin">
        <!-- background -->
        <div class="background gradient">
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

        <!--
            Container
        -->
        <div class="container opened" data-animation-in="fadeInLeft" data-animation-out="fadeOutLeft">

            <!--
                Header
            -->
            <header class="header">

                <!-- header profile -->
                <div class="profile">                       
                    <div class="image">
                        <a href="#">
                            <img src="{% static './assets/images/profile.jpg' %}" alt="Kiady LoyOlan">
                        </a>
                    </div>
                    <div class="title">Kiady LoyOlan</div>
                    <div class="subtitle subtitle-typed">Developer Data & IA</div><span class="typed-cursor">|</span>
                </div>

                <!-- menu btn -->
                <a href="#" class="menu-btn"><span></span></a>

                <!-- menu -->
                <div class="top-menu">
                    <ul>
                        <li class="active">
                            <a href="#about-card">
                                <img src="{% static './assets/images/svg/person.svg' %}" width="25" height="25" />
                                <span class="link">About</span>
                            </a>
                        </li>
                        <li>
                            <a href="#resume-card">
                                <img src="{% static './assets/images/svg/book.svg' %}" width="25" height="25" />
                                <span class="link">Resume</span>
                            </a>
                        </li>
                        <li>
                            <a href="#works-card">
                                <img src="{% static './assets/images/svg/brush.svg' %}" width="25" height="25" />
                                <span class="link">Works</span>
                            </a>
                        </li>
                        <li>
                            <a href="#blog-card">
                                <img src="{% static './assets/images/svg/chatbox.svg' %}" width="25" height="25" />
                                <span class="link">Blog</span>
                            </a>
                        </li>
                        <li>
                            <a href="#contacts-card">
                                <img src="{% static './assets/images/svg/at.svg' %}" width="25" height="25" />
                                <span class="link">Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </header>

            <!--
                Card - Started
            -->
            <div class="card-started" id="home-card">

                <!--
                    Profile
                -->
                <div class="profile">

                    <!-- profile image -->
                    <div class="slide"></div>

                    <!-- profile photo -->
                    <div class="image">
                        <img id="personal_image" src="{% static './assets/images/profile.jpg' %}" alt="">
                    </div>

                    <!-- profile titles -->
                    <div class="title" id="name">Kiady LoyOlan</div>
                    <!--<div class="subtitle">Web Designer</div>-->
                    <div class="subtitle subtitle-typed">Data Scientist</div><span class="typed-cursor">|</span>

                    <!-- profile socials -->
                    <div class="social">
                        <a target="_blank" href="https://dribbble.com/">
                            <img src="{% static './assets/images/svg/logo-dribbble.svg' %}" width="25" height="25" />
                        </a>
                        <a id="email" target="_blank" href="https://gmail.com/">
                            <img src="{% static './assets/images/svg/mail.svg' %}" width="25" height="25" />
                        </a>
                        <a target="_blank" href="https://github.com/Loyolan">
                            <img src="{% static './assets/images/svg/logo-github.svg' %}" width="25" height="25" />
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/kiady-loyolan">
                            <img src="{% static './assets/images/svg/logo-linkedin.svg' %}" width="25" height="25" />
                        </a>
                        <a target="_blank" href="https://stackoverflow.com/">
                            <img src="{% static './assets/images/svg/logo-stackoverflow.svg' %}" width="25" height="25" />
                        </a>
                    </div>
                    
                    <!-- profile buttons -->
                    <div class="lnks">
                        <a href="#" class="lnk">
                            <span class="text">Download CV</span>
                        </a>
                        <a href="#" class="lnk discover">
                            <span class="text">Contact Me</span>
                        </a>
                    </div>

                </div>

            </div>

            <!-- 
                Card - About
            -->
            <div class="card-inner animated active" id="about-card">
                <div class="card-wrap">

                    <!-- 
                        About 
                    -->
                    <div class="content about">

                        <!-- title -->
                        <div class="title"><span class="first-word">About</span> Me</div>

                        <!-- content -->
                        <div class="row">
                            <div class="col col-d-7 col-t-7 col-m-12 border-line-v">
                                <div class="text-box">
                                    <p id="intro_section">
                                        I am Kiady LoyOlan, Data Scientist from Madagascar. I have rich experience in this domain: Image processing, Text processing, Audio processing. Also I am good at Artificial Intelligence (ML, DL) with Python.
                                        I have some skill with many librairies of python in data analyst domain, like pandas, numpy, scipy, matplotlib, seaborn, sklearn and Flask model deploiement.
                                    </p>
                                </div>
                            </div>
                            <div class="col col-d-5 col-t-5 col-m-12 border-line-v">
                                <div class="info-list">
                                    <ul>
                                        <li><strong>Age </strong> 24</li>
                                        <li><strong>Residence </strong> Madagascar</li>
                                        <li><strong>Freelance </strong> Available</li>
                                        <li><strong>Address </strong> Fianarantsoa</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>

                    <!--
                        Services
                    -->
                    <div class="content services">

                        <!-- title -->
                        <div class="title"><span class="first-word">My</span> Services</div>

                        <!-- content -->
                        <div class="row service-items border-line-v">
                            <!-- service item -->
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                <div class="service-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/pulse.svg' %}" width="50" height="50" />
                                    </div>
                                    <div class="name">
                                        <span>
                                            Data Science
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <div>
                                            <p class="jutify-align">
                                                Capable to derive meaningful and actionable insights from large and complex datasets, often using machine learning techniques. 
                                                Statistical analysis, programming, data visualization, and data management, and is capable of applying these skills to real-world problems.
                                                Can work with large datasets and databases, cleaning and transforming data, developing models and algorithms, and interpreting results.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- service item -->
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                <div class="service-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/analytics.svg' %}" width="50" height="50" />
                                    </div>
                                    <div class="name">
                                        <span>
                                            Data Analyst
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <div>
                                            <p class="jutify-align">
                                                Passionate about data analysis and discovering actionable insights from vast data sets. I have a strong background in data collection, cleaning, and analysis, as well as creating visualizations and reports to aid in informed decision-making. Using tools such as SQL, Excel, and Tableau, I have gained significant experience in identifying trends, creating predictive models, and communicating key findings to stakeholders at all levels.
                                                I have become very familiar with Python libraries designed for data analysis (Numpy, Pandas, Matplotlib, Seaborn, Sklearn)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                <div class="service-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/server-outline.svg' %}" width="50" height="50" />
                                    </div>
                                    <div class="name">
                                        <span>
                                            Big Data
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <div>
                                            <p class="jutify-align">
                                                Exploring large-scale data to extract meaningful insights that enable informed decision-making. I have a strong background in designing and implementing Big Data solutions using tools such as Hadoop, Spark, and NoSQL. I have worked on projects involving the collection, cleaning, storage, and analysis of large amounts of data, and have gained significant experience in developing data processing pipelines, creating machine learning models, and creating data visualizations to communicate results.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                <div class="service-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/logo-python.svg' %}" width="50" height="50" />
                                    </div>
                                    <div class="name">
                                        <span>
                                            Python Back-end development
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <div>
                                            <p class="jutify-align">
                                                Creating robust and scalable systems for web applications. I have a strong background in designing and developing Back-End features such as APIs, databases, and data processing systems. Using frameworks such as Flask and Django, I have worked on projects involving the creation of RESTful APIs to support Front-End applications, as well as tasks such as user session management and authentication. I have also gained significant experience in designing and optimizing databases, as well as implementing automated testing to ensure code quality.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                <div class="service-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/logo-angular.svg' %}" width="50" height="50" />
                                    </div>
                                    <div class="name">
                                        <span>
                                            Front-end development Angular Cli
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <div>
                                            <p class="jutify-align">
                                                Creating beautiful and responsive user interfaces that provide exceptional user experiences. I have extensive experience in developing dynamic web applications using Angular and other front-end technologies such as HTML, CSS, and JavaScript. With a strong understanding of the latest web development trends and best practices, I have successfully designed and implemented responsive UI components using Angular Material and PrimeNG libraries, integrated with various APIs, and ensured the optimal performance of web applications. I am proficient in using modern tools and libraries, such as Bootstrap and Material Design, to deliver visually appealing and intuitive interfaces.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                <div class="service-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/pulse.svg' %}" width="50" height="50" />
                                    </div>
                                    <div class="name">
                                        <span>
                                            Front-end development React JS
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <div>
                                            <p class="jutify-align">
                                                Creating user-friendly and dynamic web applications that deliver seamless user experiences. I have extensive experience in developing modern and scalable front-end applications using React and other web technologies like HTML, CSS, and JavaScript. With a strong understanding of the latest front-end development trends and best practices, I have designed and developed responsive UI components, integrated with various APIs, and ensured optimal performance of web applications. I am also proficient in using modern libraries such as Redux, React Router, and Material-UI to deliver intuitive and visually appealing user interfaces.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                <div class="service-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/pulse.svg' %}" width="50" height="50" />
                                    </div>
                                    <div class="name">
                                        <span>
                                            Mobile development React Native
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <div>
                                            <p class="jutify-align">
                                                Creating high-quality and performant mobile applications for both iOS and Android platforms. With extensive experience in developing mobile applications using React Native and other web technologies such as HTML, CSS, and JavaScript, I have a strong understanding of cross-platform development and optimization techniques. I have designed and developed responsive UI components, integrated with various APIs, and ensured optimal performance of mobile applications. Additionally, I am proficient in using modern libraries such as Redux and React Navigation to deliver intuitive and visually appealing user interfaces.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                <div class="service-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/chatbubble-ellipses-outline.svg' %}" width="50" height="50" />
                                    </div>
                                    <div class="name">
                                        <span>
                                            Chatbot developmet Python
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <div>
                                            <p class="jutify-align">
                                                Building intelligent and conversational interfaces that deliver exceptional user experiences. With extensive experience in developing chatbots using Python and other technologies such as Natural Language Processing (NLP) and Machine Learning (ML), I have a strong understanding of chatbot design, development, and deployment. I have successfully designed and implemented chatbots with various functionalities, such as customer service and support, e-commerce, and booking systems. Additionally, I am proficient in using modern frameworks and libraries such as Flask, NLTK, and TensorFlow to deliver scalable and intelligent chatbots.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                                <div class="service-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/logo-discord.svg' %}" width="50" height="50" />
                                    </div>
                                    <div class="name">
                                        <span>
                                            Discord BOT development
                                        </span>
                                    </div>
                                    <div class="desc">
                                        <div>
                                            <p class="jutify-align">
                                                Building interactive and engaging bots that enhance user experiences on the Discord platform. With extensive experience in developing bots using Python and other technologies such as the Discord API, I have a strong understanding of bot design, development, and deployment. I have successfully designed and implemented bots with various functionalities, such as moderation, music playback, and custom commands. Additionally, I am proficient in using modern libraries such as discord.py and asyncio to deliver reliable and responsive bots.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>

                    </div>

                    <!--
                        Price Tables
                    -->
                    <div class="content pricing">

                        <!-- title -->
                        <div class="title"><div class="first-letter">Pricing</div></div>

                        <!-- content -->
                        <div class="row pricing-items">

                            <!-- pricing item -->
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                <div class="pricing-item">
                                    <div class="icon"><i class="fa fa-battery-half"></i></div>
                                    <div class="name">Back-end</div>
                                    <div class="amount">
                                        <span class="dollar">$</span>
                                        <span class="number">500</span>
                                        <span class="period">month</span>
                                    </div>
                                    <div class="feature-list">
                                        <ul>
                                            <li>Django / Flask</li>
                                            <li>REST API</li>
                                            <li>MySQL / Postgresql / Oracle / Mongodb</li>
                                        </ul>
                                    </div>
                                    <div class="lnks">
                                        <a href="https://bslthemes.com/html/ryan/index-new-demo-2.html#" class="lnk">
                                            <span class="text">Interested</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- pricing item -->
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                <div class="pricing-item">
                                    <div class="icon"><i class="fa fa-battery-full"></i></div>
                                    <div class="name">Front-end</div>
                                    <div class="amount">
                                        <span class="dollar">$</span>
                                        <span class="number">500</span>
                                        <span class="period">month</span>
                                    </div>
                                    <div class="feature-list">
                                        <ul>
                                            <li>Java Script / Type Script</li>
                                            <li>Angular Cli / React JS</li>
                                            <li>Material UI / PrimeNG</li>
                                        </ul>
                                    </div>
                                    <div class="lnks">
                                        <a href="https://bslthemes.com/html/ryan/index-new-demo-2.html#" class="lnk">
                                            <span class="text">Interested</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                <div class="pricing-item">
                                    <div class="icon"><i class="fa fa-battery-full"></i></div>
                                    <div class="name">Mobile development</div>
                                    <div class="amount">
                                        <span class="dollar">$</span>
                                        <span class="number">700</span>
                                        <span class="period">month</span>
                                    </div>
                                    <div class="feature-list">
                                        <ul>
                                            <li>Java Script / Type Script</li>
                                            <li>React Native / Ionic</li>
                                            <li>Material UI</li>
                                        </ul>
                                    </div>
                                    <div class="lnks">
                                        <a href="https://bslthemes.com/html/ryan/index-new-demo-2.html#" class="lnk">
                                            <span class="text">Interested</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                <div class="pricing-item">
                                    <div class="icon"><i class="fa fa-battery-full"></i></div>
                                    <div class="name">Data science</div>
                                    <div class="amount">
                                        <span class="dollar">$</span>
                                        <span class="number">1000</span>
                                        <span class="period">hour</span>
                                    </div>
                                    <div class="feature-list">
                                        <ul>
                                            <li>(Text, Image, Signal) Processing</li>
                                            <li>Machine Learning</li>
                                            <li>Deep Learning</li>
                                        </ul>
                                    </div>
                                    <div class="lnks">
                                        <a href="https://bslthemes.com/html/ryan/index-new-demo-2.html#" class="lnk">
                                            <span class="text">Interested</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                                <div class="pricing-item">
                                    <div class="icon"><i class="fa fa-battery-full"></i></div>
                                    <div class="name">Data analysis</div>
                                    <div class="amount">
                                        <span class="dollar">$</span>
                                        <span class="number">800</span>
                                        <span class="period">hour</span>
                                    </div>
                                    <div class="feature-list">
                                        <ul>
                                            <li>Data processing</li>
                                            <li>Reporting</li>
                                            <li>Feature prediction</li>
                                        </ul>
                                    </div>
                                    <div class="lnks">
                                        <a href="https://bslthemes.com/html/ryan/index-new-demo-2.html#" class="lnk">
                                            <span class="text">Interested</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>

                    <!--
                        Fun Fact
                    -->
                    <div class="content fuct">

                        <!-- title -->
                        <div class="title"><span class="first-word">Personal</span> Project</div>

                        <!-- content -->
                        <div class="row fuct-items">

                            <!-- fuct item -->
                            <div class="col col-d-4 col-t-4 col-m-6 border-line-v">
                                <div class="fuct-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/code-slash.svg' %}" width="75" height="75">
                                    </div>
                                    <div class="name">
                                        <p class="center-align mt-2"><b>Fingerprint pointing</b><br> Hikvision, IVMS, Django(back), Angular (front)</p>
                                        <a href="https://github.com/Loyolan/fingerprint-pointing">Github Link</a>
                                    </div>
                                </div>
                            </div>

                            <!-- fuct item -->
                            <div class="col col-d-4 col-t-4 col-m-6 border-line-v">
                                <div class="fuct-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/analytics.svg' %}" width="75" height="75">
                                    </div>
                                    <div class="name">
                                        <p class="center-align mt-2"><b>Data analysis </b><br> (Pandas, Numpy, Seaborn, Patplotlib)</p>
                                        <a href="https://github.com/Loyolan/data-analysis-with-python-projects">Github Link</a>
                                    </div>
                                </div>
                            </div>

                            <!-- fuct item -->
                            <div class="col col-d-4 col-t-4 col-m-6 border-line-v">
                                <div class="fuct-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/pulse.svg' %}" width="75" height="75">
                                    </div>
                                    <div class="name">
                                        <p class="center-align mt-2"><b>Text Generator</b><br> (Tensorflow, Keras)</p>
                                        <a href="https://github.com/Loyolan/tensorflow-text-generator">Github Link</a>
                                    </div>
                                </div>
                            </div>

                             <!-- fuct item -->
                            <div class="col col-d-4 col-t-4 col-m-6 border-line-v">
                                <div class="fuct-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/pulse.svg' %}" width="75" height="75">
                                    </div>
                                    <div class="name">
                                        <p class="center-align mt-2"><b>Text Translator</b><br> (Tensorflow, Keras)</p>
                                        <a href="https://github.com/Loyolan/tensorflow-text-translator">Github Link</a>
                                    </div>
                                </div>
                            </div>

                            <!-- fuct item -->
                            <div class="col col-d-4 col-t-4 col-m-6 border-line-v">
                                <div class="fuct-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/pulse.svg' %}" width="75" height="75">
                                    </div>
                                    <div class="name">
                                        <p class="center-align mt-2"><b> Motion detection</b><br> (Mediapipe, Opencv, Numpy)</p>
                                        <a href="https://github.com/Loyolan/tensorflow-text-translator">Github Link</a>
                                    </div>
                                </div>
                            </div>

                            <!-- fuct item -->
                            <div class="col col-d-4 col-t-4 col-m-6 border-line-v">
                                <div class="fuct-item">
                                    <div class="icon">
                                        <img src="{% static './assets/images/svg/logo-discord.svg' %}" width="75" height="75">
                                    </div>
                                    <div class="name">
                                        <p class="center-align mt-2"> <b>Discord BOT for community YP IN DATA SCIENCE</b><br> (discord.py, NLTK, Spacy, Classy, Google-api, wikipedia-api)</p>
                                        <a href="https://github.com/Loyolan/mediapipe">Github Link</a>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>

                    <!--
                        Clients
                    -->
                    <div class="content clients">

                        <!-- title -->
                        <div class="title"><div class="first-letter">Formation</div></div>

                        <!-- content -->
                        <div class="row client-items">

                            <!-- client item -->
                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                <div class="client-item">
                                    <div class="image">
                                        <a target="_blank" href="#">
                                            <img class="logo-img" src="{% static './assets/images/eni.jpeg' %}" alt="">
                                            <p>ENI FIANARANTSOA</p>
                                        </a>
                                        <p><b>COMPUTER SCIENCE</b></p>
                                    </div>
                                </div>
                            </div>

                            <!-- client item -->
                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                <div class="client-item">
                                    <div class="image">
                                        <a target="_blank" href="https://www.sayna.academy/">
                                            <img class="logo-img" src="{% static './assets/images/sayna.png' %}" alt="">
                                            <p>SAYNA ACADEMY</p>
                                        </a>
                                        <p><b>MARKETING DIGITAL</b></p>
                                    </div>
                                </div>
                            </div>

                            <!-- client item -->
                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                <div class="client-item">
                                    <div class="image">
                                        <a target="_blank" href="https://www.google.com/">
                                            <img class="logo-img" src="{% static './assets/images/machinelearnia.jpg' %}" alt="">
                                            <p>MACHINE LEARNIA</p>
                                        </a>
                                        <p><b>DATA ANALYSIS</b></p>
                                    </div>
                                </div>
                            </div>

                            <!-- client item -->
                            <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                                <div class="client-item">
                                    <div class="image">
                                        <a target="_blank" href="https://www.google.com/">
                                            <img  class="logo-img" src="{% static './assets/images/freecodecamp.jpg' %}" alt="">
                                            <p>MACHINE LEARNIA</p>
                                        </a>
                                        <p><b>DATA SCIENCE</b></p>
                                    </div>
                                </div>
                            </div>

                            <div class="clear"></div>
                        </div>

                    </div>

                    <!-- Quote -->
                    <div class="content quote">

                        <!-- title -->
                        <div class="title"><div class="first-letter">
                            <span>Quote</span>
                        </div></div>

                        <!-- content -->
                        <div class="row">
                            <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                                <div class="revs-item">
                                    <div class="text">
                                        <div>
                                            Data science is the future, and it is a privilege to be at the forefront of this revolutionary field. As a data scientist, I am passionate about discovering insights and providing solutions to complex problems through data analysis, visualization, and machine learning. I strive to continuously improve my skills and knowledge to stay ahead of the curve and deliver value to my clients and team.                       
                                        </div>
                                    </div>
                                    <div class="user">
                                        <div class="img">
                                            <img src="{% static './assets/images/profile.jpg' %}" alt="Kiady LoyOlan">
                                        </div>
                                        <div class="info">
                                            <div class="name">Kiady Loyolan</div>
                                            <div class="company">Data Scientist</div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- bslthemes.com buttons html begin -->
</body>
</html>