.jutify-align {
    text-align: justify;
    font-size: 12px;
    letter-spacing: 0.5;
}

.center-align {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.5;
}

.logo-img {
    border-radius: 50%;
}